<!DOCTYPE html>
<html lang="en" style="height: 100%" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>

<body style="height: 100%">

<header class="height: 5%" style="background-color: #343A40">
    <div class="container-fluid">
        <div class="row" style="height: 30px">

            <div class="col-6 text-left">
                <p th:text="${userLog}" class="text-left text-light" style="margin-top: 4px"></p>
            </div>

            <div class="col-6 text-right">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link btn-sm">
                        <h6 style="color: grey">logout</h6>
                    </button>
                </form>
            </div>

        </div>
    </div>
</header>

<section class="height: 95%">
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding-left: 0; padding-right: 0;">
                <button type="button" class="btn btn-primary btn-block" style="margin-top: 10px; height: 40px;">
                    <p class="text-left">Admin</p>
                </button>

                <form th:method="GET" th:action="@{/users/userIndex}">
                    <button type="submit" class="btn btn-outline-primary btn-block"
                            style="margin-top: 3px; height: 40px;">
                        <p class="text-left"> User </p>
                    </button>
                </form>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 vh-100 table-responsive" style="padding: 0 25px 20px 25px;
                    background-color: #F7F7F7">
                <h2 style="margin: 0 0 15px 0; padding-top: 15px">Admin panel</h2>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <form th:method="GET" th:action="@{/admin/index}">
                            <button class="nav-link btn-outline-light" type="submit" style="background-color: #F7F7F7">
                                <p style="color: deepskyblue; margin-bottom: 3px"> Users table </p>
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active">
                            <p style="color: grey; margin-bottom: 3px"> New User </p>
                        </a>
                    </li>
                </ul>

                <form th:method="POST" th:object="${user}" th:action="@{/admin/addUser}">
                    <table class="table table-striped" style="background: #EAEAEA; margin: 0;">
                        <thead>
                        <tr>
                            <td>
                                <h5 style="padding-left: 5px; white-space:nowrap">Add new user</h5>
                            </td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr style="background-color: #FFFFFF">

                            <div>
                                <input type="hidden" name="id" th:value="${user.getId()}"/>
                            </div>

                            <td>
                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">First name</h5>
                                    <label>
                                        <input class="rounded" style="width: 300px" type="text" name="name"
                                               th:value="${user.getName()}"/>
                                    </label>
                                </div>

                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">Last name</h5>
                                    <label>
                                        <input class="rounded" style="width: 300px" type="text" name="surname"
                                               th:value="${user.getSurname()}"/>
                                    </label>
                                </div>

                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">Age</h5>
                                    <label>
                                        <input class="rounded" style="width: 300px" type="text" name="age"
                                               th:value="${user.getAge()}"/>
                                    </label>
                                </div>

                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">Login</h5>
                                    <label>
                                        <input class="rounded" style="width: 300px" type="text" name="useName"
                                               th:value="${user.getUseName()}"/>
                                    </label>
                                </div>

                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">Password</h5>
                                    <label>
                                        <input class="rounded" style="width: 300px" type="text" name="pass"
                                               th:value="${user.getPassword()}"/>
                                    </label>
                                </div>

                                <div class="text-center" style="margin-bottom: 10px">
                                    <h5 style="margin: 4px">Role</h5>
                                    <label>

                                        <select class="form-select" size="2" id="roles" multiple name="rol">
                                            <option selected th:each="role:${roleList}" th:value="${role.getId()}"
                                                    th:utext="${role.getNameRole()}">
                                        </select>

                                    </label>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-success" type="submit">Add new user</button>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
