<!DOCTYPE html>
<html lang="en" style="height: 100%" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>

<body style="height: 100%">

<header class="height: 5%" style="background-color: #343A40">
    <div class="container-fluid">
        <div class="row" style="height: 30px">

            <div class="col-6 text-left">
                <p th:text="${userLog}" class="text-left text-light" style="margin-top: 4px"></p>
            </div>

            <div class="col-6 text-right">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link btn-sm">
                        <h6 style="color: grey">logout</h6>
                    </button>
                </form>
            </div>

        </div>
    </div>
</header>

<section class="height: 95%">
    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding-left: 0; padding-right: 0;">
                <button type="button" class="btn btn-primary btn-block" style="margin-top: 10px; height: 40px;">
                    <p class="text-left">Admin</p>
                </button>

                <form th:method="GET" th:action="@{/users/userIndex}">
                    <button type="submit" class="btn btn-outline-primary btn-block"
                            style="margin-top: 3px; height: 40px;">
                        <p class="text-left"> User </p>
                    </button>
                </form>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 vh-100 table-responsive" style="padding: 0 25px 20px 25px;
                    background-color: #F7F7F7">
                <h2 style="margin: 0 0 15px 0; padding-top: 15px">Admin panel</h2>

                <ul class="nav nav-tabs">
                    <li class="nav-item" style="margin-bottom: 1px">
                        <a class="nav-link active">
                            <p style="color: grey; margin-bottom: 3px">
                                Users table
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 1px">
                        <form th:method="GET" th:action="@{/admin/formUserAdd/new}">
                            <button class="nav-link btn-outline-secondary" type="submit"
                                    style="background-color: #F7F7F7">
                                <p style="color: deepskyblue; margin-bottom: 3px">
                                    New User
                                </p>
                            </button>
                        </form>
                    </li>
                    <li class="nav-item">
                </ul>

                <table class="table table-striped" style="background: #EAEAEA; margin: 0">
                    <thead>
                    <tr>
                        <td>
                            <h5 style="padding-left: 5px; white-space:nowrap">All users</h5>
                        </td>
                    </tr>
                    </thead>

                    <thead>
                    <tr style="background: #FFFFFF">
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="emp:${empAll}">
                        <td th:text="${emp.getId()}">Name</td>
                        <td th:text="${emp.getName()}">Name</td>
                        <td th:text="${emp.getSurname()}">Name</td>
                        <td th:text="${emp.getAge()}">Name</td>
                        <td th:text="${emp.getRoleSet()}">Name</td>

                        <td>
                            <form th:method="GET" th:action="@{/admin/formUserEdit/edit}">
                                <button class="btn btn-info" type="submit" th:name="updateIdUser"
                                        th:value="${emp.getId()}">Edit
                                </button>
                            </form>
                        </td>

                        <td>
                            <form th:method="DELETE" th:action="@{/admin/delete/user}">
                                <button class="btn btn-danger" type="submit" th:name="deleteIdUser"
                                        th:value="${emp.getId()}">Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
